html, body{
    margin: 0;
    height: 100%;
    width: 100;
}
.checkers{
    height: 25%;
    width: 100%;
    text-align: center;
    font-size: 32pt;
    margin: 12px;
    box-sizing: border-box;
}
input[type=checkbox] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    box-sizing: border-box;
    margin: 12px;
}
.inputs{
    font-size: 21pt;
    height: 25%;
    width: 100%;
    align-content: center;
    text-align: center;
    margin: 12px;
    box-sizing: border-box;
}
.but{
    position: absolute;
    top: 0;
    height: 49px;
    width: 25%;
    left: 70%;
}
.DISPLAY{
    position: absolute;
    display: block;
    box-sizing: border-box;
    padding: 16px;
    top: 0px;
}